<div class="bg-secondary text-white text-center py-2 fs-5 fw-semibold" style="background-color: #708090ff;">
  {{ isEditMode ? 'Edit' : 'Add' }} an user
</div>

<div class="d-flex flex-column align-items-center text-center" style="height: 70vh;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      type="text"
      formControlName="lastName"
      placeholder="Last name"
      class="form-control text-center mb-4 mt-5"
      style="max-width: 300px; border: 2px solid #890e54ff;"
    />

    <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1" style="padding: 5px;">
      <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
          a Last name is required
      </div>
    </div>

    <input
      type="text"
      formControlName="firstName"
      placeholder="First name"
      class="form-control text-center mb-4 mt-2"
      style="max-width: 300px; border: 2px solid #890e54ff;"
    />

    <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1" style="padding: 5px;">
      <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
          a First name is required
      </div>
    </div>

    <input
      type="text"
      formControlName="email"
      placeholder="Email"
      class="form-control text-center mb-4 mt-2"
      style="max-width: 300px; border: 2px solid #890e54ff;"
    />

    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1" style="padding: 5px;">
      <div *ngIf="email?.errors?.['required']">
          Email is required
      </div>

      <div *ngIf="email?.errors?.['pattern']">
          Email must be a valid email address format
      </div>
    </div>

    <select
      formControlName="userType"
      class="form-control text-center mb-4 mt-2"
      style="max-width: 300px; border: 2px solid #890e54ff;"
    >
      <option [ngValue]="null" disabled selected>Select a type</option>
      <option *ngFor="let type of userTypes" [ngValue]="type">
        {{ type.typeName }}
      </option>
    </select>


    <div *ngIf="userType?.invalid && (userType?.dirty || userType?.touched)" class="alert alert-danger mt-1" style="padding: 5px;">
      <div *ngIf="userType?.errors?.['required']">
          a User type is required
      </div>
    </div>

    <button type="submit" class="btn" style="background-color: #890e54ff; color: white; width: 150px;">
      {{ isEditMode ? 'Update' : 'Create' }}
    </button>

    <br>
    <button class="btn btn-secondary mt-2" (click)="goBack()">
      Back
    </button>
  </form>
</div>
